/* 16px */
$default-font-size: 1.6rem;
$default-font-color: #536e7b;
$default-font-family: 'ProximaNova-Rg', Helvetica, Arial, sans-serif;

/* colors */
$light-grey: #f6f9fb;

/* Header Nav */
$header_nav_height: 60px;

/* Header Sub Nav */
$tab_width: 205px;
$header_sub_nav_height: 70px;
